@model Models.Borrows.BorrowAddModel

<div>
    @Html.Label("User")
    @Html.DropDownList("UsersList", new SelectList(Model.UsersList, "Key", "Value"))
</div>

<div id="divBooksLists">
    @Html.Label("Book 1")
    @Html.DropDownList("BooksList1", new SelectList(Model.BooksList, "Key", "Value"), new { id = "BooksList1" })
</div>

<button id="add" onclick="addBooksList('divBooksLists');">Add next</button>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

        @Html.HiddenFor(a => a.SelectedUserId)
        @Html.HiddenFor(a => a.ChosenBooks)

        <input type="submit" value="Save" />
        @Html.ActionLink("Cancel", "Index", null, null)
}
