@model Models.Reports.ReportViewModel

@*@using (Ajax.BeginForm(actionName: "FilterBooksGridPartial", controllerName: "Reports", routeValues: null,
    ajaxOptions: new AjaxOptions { UpdateTargetId = "divBooksGridPartial" }, htmlAttributes: new { id = "formFilterBooksGridPartial" }))
{
    @Html.AntiForgeryToken()
}*@

<label>Genre</label>
@(Html.Kendo().ComboBox()
                    .Name("BookGenreId")
                    .DataTextField("Value")
                    .BindTo(Model.DictBookGenreList)
                    .Filter(FilterType.Contains)
                    .Placeholder("Select genre...")
                    .DataTextField("Value")
                    .DataValueField("Key")
)

<label>Title</label>
@Html.EditorFor(model => model.Title)

<label>Date from</label>
@(Html.Kendo().DatePicker()
                    .Name("FromDate")
                    .Value(Model.FromDate)
                    .HtmlAttributes(new { style = "width: 150px" })
                    .Format("dd.MM.yyyy")
)

<label>Date to</label>
@(Html.Kendo().DatePicker()
                    .Name("ToDate")
                    .Value(Model.ToDate)
                    .HtmlAttributes(new { style = "width: 150px" })
                    .Format("dd.MM.yyyy")
)

<button type="button" onclick="submitFormFilterBooksGridPartial();">Filter</button>
<button type="button" onclick="resetFormFilterBooksGridPartial();">Reset</button>