@model Models.Reports.ReportViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/kedno")
@Scripts.Render("~/bundles/ajax")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/kendo")

<h2>Borrows report</h2>

<div id="divBooksFilterPartial">
    @{ Html.RenderPartial("BooksFilterPartial", Model); }
</div>

<div id="divBooksGridPartial">
    @{ Html.RenderAction("BooksGridPartial", Model); }
</div>

<h2>Most active users reports</h2>

<div id="divUsersGridPartial">
    @{ Html.RenderAction("UsersGridPartial", Model); }
</div>

<script type="text/javascript">

    function setBooksGridPartialFilter() {
        var mainFilter = { logic: "and", filters: [] }

        var genresFilter = { logic: "or", filters: [] };
        var bookGenres = document.getElementById('BookGenre').value.split(', ');
        for (var i = 0; i < bookGenres.length; i++) {
            if (bookGenres[i].length > 0 && bookGenres[i].trim()) {
                genresFilter.filters.push({ field: 'BookGenre', operator: 'eq', value: bookGenres[i] });
            }
        }
        if (genresFilter.filters.length > 0) {
            mainFilter.filters.push(genresFilter);
        }

        if (document.getElementById('Title').value.length > 0 && document.getElementById('Title').value.trim()) {
            mainFilter.filters.push({ field: 'Title', operator: 'contains', value: document.getElementById('Title').value });
        }

        pushDates(mainFilter);

        var gridDataSource = $('#booksGrid').data('kendoGrid').dataSource.filter(mainFilter);
    }

    function resetBooksGridPartialFilter() {
        var mainFilter = { logic: "and", filters: [] }

        document.getElementById('BookGenre').value = '';
        document.getElementById('Title').value = '';
        document.getElementById('ToDate').value = null;
        document.getElementById('FromDate').value = null;

        pushDates(mainFilter);

        var gridDataSource = $('#booksGrid').data('kendoGrid').dataSource.filter(mainFilter);
    }

    function pushDates(myfilter) {
        if (document.getElementById('FromDate').value) {
            var fromDateArray = document.getElementById('FromDate').value.split(".");
            myfilter.filters.push({ field: 'FromDate', operator: 'gte', value: new Date(fromDateArray[2], (fromDateArray[1] - 1), fromDateArray[0]) });
        }

        if (document.getElementById('ToDate').value) {
            var toDateArray = document.getElementById('ToDate').value.split(".");
            myfilter.filters.push({ field: 'ToDate', operator: 'lte', value: new Date(toDateArray[2], (toDateArray[1] - 1), toDateArray[0]) });
        }
    }

    function submitFormFilterBooksGridPartial() {
        $('#booksGrid').data('kendoGrid').dataSource.read();
    }

    function resetFormFilterBooksGridPartial() {
        $("#BookGenreId").val("").data("kendoComboBox").text("")
        $("#Title").val('');
        $("#FromDate").val('');
        $("#ToDate").val('');
        submitFormFilterBooksGridPartial();
    }

    function getBorrowsFilter() {
        return {
            bookGenreId: $("#BookGenreId").val(),
            title: $("#Title").val(),
            fromDate: $("#FromDate").val(),
            toDate: $("#ToDate").val(),
        }
    }

</script>