
@{
    ViewBag.Title = "Books list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

@Styles.Render("~/Content/kedno")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/kendo")

@(Html.Kendo().Grid<Models.Books.BookViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Author);
            columns.Bound(c => c.Title);
            columns.Bound(c => c.ReleaseDate).Format("{0: dd.MM.yyyy}");
            columns.Bound(c => c.ISBN);
            columns.Bound(c => c.BookGenre);
            columns.Bound(c => c.Count);
            columns.Bound(c => c.AddDate).Format("{0: dd.MM.yyyy}");
            columns.Bound(c => c.ModifiedDate).Format("{0: dd.MM.yyyy}");
            columns.Command(com => com.Custom("Edit").Click("EditBookWindow"));​
        })
        .ToolBar(toolbar => toolbar.Template("<button onclick='AddNewBookWindow()'>Add new book</button> "))
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetBooksList", "Books"))
            .PageSize(20)
            .Model(model => model.Id(a => a.BookId))
        )
)

@(Html.Kendo().Window()
              .Name("AddBookWindow")
              .Title("Add book")
              .LoadContentFrom("AddBook", "Books")
              .Visible(false)
              .Modal(true)
              .Iframe(false)
              .Actions(a => { })
)

@(Html.Kendo().Window()
              .Name("EditBookWindow")
              .Title("Edit book")
              .Visible(false)
              .Modal(true)
              .Iframe(false)
              .Actions(a => { })
)

<script type="text/javascript">

    function AddNewBookWindow() {
        var win = $("#AddBookWindow").data("kendoWindow");
        win.center().open();
    }

    function ReloadGrid() {
        $('#grid').data('kendoGrid').dataSource.read();
        $('#grid').data('kendoGrid').refresh();
    }

    function EditBookWindow(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var aBookId = dataItem.BookId;
        var win = $("#EditBookWindow");
        var winData = $("#EditBookWindow").data("kendoWindow");
        win.kendoWindow({
            content: "/Books/EditBook?aBookId=" + aBookId
        });
        winData.center().open();
    }

</script>